doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-journal.min.css')
    link(rel="shortcut icon", href="/favicon.ico")
  body

  .container-fluid
    .row-fluid
        .span3
          .well.sidebar-nav
            ul.nav.nav-list
              li
                a(href="/") Training Overview
              li.nav-header Training Index
              each day, i in days
                li(class=activeDay == i + 1 ? "active" : "")
                  a(href="/day/#{i + 1}") #{day.title}
          //
            /.well
        //
          /span
        .span9
          .hero-unit
            h1 #{title}
            p
              block description
          block content

        //
          /span
      //
        /row
      hr
      footer
        p

    script(src="http://code.jquery.com/jquery.js")
    script(src="/javascripts/bootstrap.min.js")